{% extends 'base.html' %}

{% load  static %}
{% block content %}
    <form action="{% url 'login' %}" method="post" class="content__auth">
        <h2>Вход</h2>
        {% csrf_token %}
        {% if form.errors %}
            <error>Введённые имя пользователя и пароль не совпадают</error>
        {% else %}
        {% if messages %}
            {% for message in messages %}
            <error>{{message}}</error>
            {% endfor %}
        {% endif %}
        {% endif %}
        {{ form.username }}<br>
        {{ form.password }}<br>
        <button class="content__auth-btn" type="submit">Войти</button>
        <a href="{% url 'register' %}"><p>Нет аккаунта?<span>Зарегистрироваться</span></p></a>
    </form>
{% endblock %}