{% extends 'base.html' %}

{% block content %}
    <div class="videos"
         style="display: flex; gap: 32px; margin-bottom: 24px; grid-template-columns: 400px repeat(auto-fill, 1fr); flex-wrap: wrap;">
        {% if videos %}
            {% for video in videos %}
                <div><a href='{{ video.get_absolute_url }}' style="text-decoration: none; color: black">
                    <img src="{{ video.preview.url }}" style="height: 290px; width: 400px" alt="preview">
                    <h3>{{ video.title }}</h3>
                    <p>{{ video.author }}</p>
                </a></div>
            {% endfor %}
        {% else %}
            <h2>Нет ни одного видео!</h2>
        {% endif %}
    </div>
{% endblock %}