{% extends 'base.html' %}

{% block content %}
    <div class="content__video">
        <div class="content__video-vid">
            <div class="content__video-vid-preview">
                <video
                        id="my-video"
                        class="video-js"
                        controls
                        preload="auto"
                        width="1280"
                        height="720"
                        poster="{{ video.preview.url }}"
                        data-setup="{}"
                        height="200" width="350"
                >
                    <source src="{{ video.file.url }}" type="video/mp4" alt="video"/>
                    <source src="{{ video.file.url }}" type="video/webm"/>
                    <source src="{{ video.file.url }}" type="video/mkv"/>
                    <source src="{{ video.file.url }}" type="video/avi"/>
                </video>
            </div>

            <div class="content__video-vid-title">
                <h2>{{ video.title }}</h2>
                <p>{{ video.create_at }}</p>
                {% if like %}
                    <span class="content__video-vid-title-dislike-cnt">{{ video.likes.count }}</span>
                {% else %}
                    <span class="content__video-vid-title-like-cnt">{{ video.likes.count }}</span>
                {% endif %}
                <form method="POST" action="{% url 'like' video.id %}">
                    {% csrf_token %}
                    <button type="submit">
                        {% if like %}
                            <svg class="content__video-vid-title-like-pic" width="24" height="22" viewBox="0 0 24 22"></svg>
                        {% else %}
                            <svg class="content__video-vid-title-like-pic" width="24" height="23" viewBox="0 0 24 22"></svg>
                        {% endif %}
                    </button>
                </form>
                {% if dislike %}
                    <span class="content__video-vid-title-dislike-cnt">{{ video.dislikes.count }}</span>
                {% else %}
                    <span class="content__video-vid-title-like-cnt">{{ video.dislikes.count }}</span>
                {% endif %}
                <form method="POST" , action="{% url 'dislike' video.id %}">
                    {% csrf_token %}
                    <button type="submit">
                        {% if dislike %}
                            <svg class="content__video-vid-title-dislike-pic"></svg>
                        {% else %}
                            <svg class="content__video-vid-title-dislike-pic"></svg>
                        {% endif %}
                    </button>
                </form>
            </div>

            <a class="content__video-vid-creator" href="{{ video.author.get_absolute_url }}">
                <p>{{ video.author }}</p>
            </a>
            <a class="content__video-vid-desc">
                <p>{{ video.description }}</p>
            </a>
        </div>


        <div class="content__video-comments">
            <h2>Комментарии: {{ video.comment_set.count }}</h2>
            {% if user.is_authenticated %}
                <form action="{% url 'add_comment' video.id %}" method="post" class="content__video-comments-new">
                    {% csrf_token %}
                    <input placeholder="Введите комментарий" type="text" name="text">
                    <button type="submit">
                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 6.5L1.3391e-06 13L3.55556 6.5L1.90735e-06 -6.99382e-07L16 6.5Z" fill="black"/>
                        </svg>
                    </button>
                    <!-- if len(input) > 0 -->
                </form>
            {% endif %}
            {% for comment in comments %}
                <div class="content__video-comments-comment">
                    <a href={{ comment.username.get_absolute_url }} class="content__video-comments-comment-user">
                        <h3>{{ comment.username }}</h3>
                        <h4>{{ comment.create_at }}</h4>
                    </a>
                    <p>{{ comment.text }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}