{% extends 'base.html' %}

{% block content %}
    <video id="my-video" class="video-js" controls preload="auto"
           width="1280" height="720" poster="{{ video.preview.url }}" data-setup="{}">
        <source src="{{ video.file.url }}" type="video/mp4"/>
        <source src="{{ video.file.url }}" type="video/webm"/>
        <source src="{{ video.file.url }}" type="video/mkv"/>
        <source src="{{ video.file.url }}" type="video/avi"/>
    </video>
    <div class="info">
        <h2>{{ video.title }}</h2>
        <div style="display: flex">
            <span style="margin: 4px 2px 12px 12px"> {{ video.likes.count }} </span>
            <div style="margin: 0 18px 0 12px">
                <form method="POST" action="{% url 'like' video.id %}">
                    {% csrf_token %}
                    <button type="submit">Like</button>
                </form>
            </div>
            <span style="margin: 4px 2px 12px 12px">{{ video.dislikes.count }}</span>
            <div style="margin: 0 12px 0 12px">
                <form method="POST" action="{% url 'dislike' video.id %}">
                    {% csrf_token %}
                    <button type="submit">Dislike</button>
                </form>
            </div>
        </div>
    </div>


    <div style="min-height: 120px;">
        <h2 style="margin-top: 12px">Комментарии: {{ video.comment_set.count }}</h2>
        {% if user.is_authenticated %}
            <form action="{% url 'add_comment' video.id %}" method="post">
                {% csrf_token %}
                <input placeholder="Комментарий" type="text" name="text">
                <button type="submit">Опубликовать</button>
            </form>
        {% endif %}
        {% for comment in comments %}
            <h4 style="margin: 8px 0 8px 0">{{ comment.author }}: {{ comment.text }}</h4>
        {% endfor %}
    </div>
{% endblock %}